@page "/Compare/{image1}/{image2}"


<div class="main-container">

    <div class= "left-nav">
        <NavLink href="HomePage">
            <button title="Back" class="back-button"></button>
        </NavLink>
    </div>

    <div class="top-nav">
        <div class="top-panel">
            <div class="profileDropdown">
                <div class="profile" @onclick="menuToggle">
                    <img src="./images/alice.png" />
                </div>
                <div class="menu @menuClass">
                    <h3>Alice Smith</h3>
                    <ul>
                        <li><img src="./images/help.svg" /><a href="Help">Help</a></li>
                        <li><img src="./images/logout.png" /><a href="Login">Logout</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

    <div class="main-content">
        <div class="grid-item" id="topBox">
            <h1 id="compStat">Comparison Statistics</h1>
            <div id="twoItems">
                <div class="item">
                    <h3 class="itemTitle">@image1</h3>
                    <img class="itemImg" src=@img1src>
                </div>
                <div class="item">
                    <h3 class="itemTitle">@image2</h3>
                    <img class="itemImg" src=@img2src>
                </div>
            </div>
            <div id="tableContainer">
            <table>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Sports-Car</th>
                        <th scope="col">Forest</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Yearly Sales</th>
                        <td>154</td>
                        <td>268</td>
                    </tr>
                    <tr>
                        <th scope="row">Monthly Sales</th>
                        <td>16</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <th scope="row">Daily Sales</th>
                        <td>3</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <th scope="row">Price Listed</th>
                        <td>8</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <th scope="row">Total Revenue</th>
                        <td>474$</td>
                        <td>783$</td>
                    </tr>
                </tbody>

            </table>
            </div>

        </div>
        
        <div class="grid-item" id="botLeft">
            <img style="max-height: 250px;" src="./images/sales_graph.png">
            <img style="max-height: 250px;" src="./images/sales_goal.png">
        </div>
        
        <div class="grid-item" id="botRight">
            <h2>Total Sales</h2>
            <img style="margin-left: 20px;" src="./images/test_graph.png">
        </div>
    </div>

    
</div> 

@code {
    [Parameter] 
    public string image1 {get;set;}
    [Parameter] 
    public string image2 {get;set;}
    public string img1src, img2src;
    protected override void OnInitialized() {
        img1src = $"images/{image1}.jpg"; 
        img2src = $"images/{image2}.jpg";
    }


/* Logic for profile dropdown */
    private bool showMenu = false;

    private string menuClass => showMenu ? "active" : "";

    private void menuToggle()
    {
        showMenu = !showMenu;
    }
/* End of logic for profile dropdown */

    }
}

<style>

#botLeft , #botRight{
    display: flex;
    justify-content: center;
    align-items: center;
}


/************* table ************/    
#tableContainer {
    display: flex;
    justify-content: center;
}

thead{
    background-color: #3d348b;
    color: #fff;
}

td,
th {
    border: 2px solid rgb(200, 200, 200);
    padding: 5px 10px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
}
/******************** end table **********/

.itemTitle{
    text-align: center;
}
.itemImg {
   width: 400px;
   height: 300px;
}

#twoItems {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

#compStat{
    padding: 2%;
    text-align: center;
}


/************ grid setup *************/
.grid-item{
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#botRight {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#botLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#topBox {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}



.main-content{
    width: 80%;

    padding: 1.5%;
    margin-top: 10%;
    margin-left: 15%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;
}

/************ end grid *************/


.archive-pop {
  position: absolute;
  z-index: 9999;
  max-width: 600px;
  width: 600px;
  height: 300px;
  margin-top: 50px;
  margin-left: 550px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.main-container {
    height: 1500px;
}
.top-nav{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: #E2E2DF; 
}

.left-nav {
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #E2E2DF; 
    z-index: 2;
}

.top-panel {
  display: flex;
  align-items: center;
  background-color: #E2E2DF;
  transition: left 0.5s;
}


.back-button {
    border: none;
    outline: none;
    cursor: pointer;
    color: transparent;
    height: 150px;
    width: 150px;
    background: url('https://api.iconify.design/mdi/arrow-back-circle.svg?color=%233d348b')  no-repeat center center / contain
}
/*
    Profile Dropdown CSS
 */

.profileDropdown {
  position: absolute;
  right:0;
    top: 18px;
}

.profileDropdown .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profileDropdown .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileDropdown .menu {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  
  z-index:30;
}

.profileDropdown .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.profileDropdown .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.profileDropdown .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.profileDropdown .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.profileDropdown .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
}

.profileDropdown .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.profileDropdown .menu ul li:hover img {
  opacity: 1;
}

.profileDropdown .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.profileDropdown .menu ul li:hover a {
  color: #ff5d94;
}
/*End of ProfileDropdown*/
    
.top-button {
        height: 50px;
        width: 170px;
        margin: 25px;
        color: white;
        border-radius: 5px;
        background: #3D348B;
 }
</style>