@page "/Details/{image}"


<!-- <img src=@imageSrc alt=""> -->


<div class="main-container">

    <div class= "left-nav">
        <button title="Add a new collection" class="back-button"></button>
    </div>

    <div class="top-nav">

        <div class="top-panel">
        <button class="top-button" @onclick="archive">Remove</button>
        <button class="top-button" @onclick="ToggleCheckboxes">Compare...</button>
        <div class="profileDropdown">

            <div class="profile" @onclick="menuToggle">
                 <img src="./images/alice.png" />
            </div>

            <div class="menu @menuClass">
              <h3>Alice Smith</h3>
                <ul>
                    <li><img src="./images/help.svg" /><a href="Help">Help</a></li>
                     <li><img src="./images/logout.png" /><a href="Login">Logout</a> </li>
                 </ul>
            </div>
        </div>
      </div>
        <div class="main-content">

              @if(arch)
              {
                <div class="archive-pop">
                  <h1 class="mb-4">Are you sure you want to archive @image?</h1>
                  <button @onclick="archive">Cancel</button>
                  <NavLink href="HomePage">
                    <button>Confirm</button>
                  </NavLink>
                </div> 
              }


          <h1> Image Details </h1>
          <h2 style="font-size: 20px;"> This is the description of the graph and stuff blah blah blah </h2>

          <div class="format-container">

            <img class="content-image" src="@imageSrc" alt="">
              <div class="data-container">
                <h1 style="margin-top: 10px;">Sales</h1>
                <form method="post">
                  <select id="months" name="months"  @onchange="@((e) => changeToSix(e.Value.ToString()))">
                    <option value="6-mo">6 mo</option>
                    <option value="12-mo">12 mo</option>
                    <option value="Week">Week</option>
                    <option value="All-time">All Time</option>
                  </select>
                </form>
                <div class="graph-container">
                  @if(sixmo)
                  {
                    <img src="./images/test_graph.png">
                  }
                  @if(twmo)
                  {
                    <img src="./images/12mo_graph.png">
                  }
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>


@code {
    [Parameter] 
    public string image { get; set; } 
    private string imageSrc; 
    protected override void OnInitialized()
     { imageSrc = $"images/{image}.jpg"; }


  /* Logic for switch for graphs
  */


/* Logic for profile dropdown */
    private bool showMenu = false;

    private string menuClass => showMenu ? "active" : "";

    private void menuToggle()
    {
        showMenu = !showMenu;
    }

    private bool sixmo = false;
    private bool twmo = false;
    private void changeToSix(string value)
    {
      if(value == "6-mo")
      {
        sixmo = true;
        twmo = false;
      }
      if(value == "12-mo")
      {
        sixmo = false;
        twmo = true;
      }
      if(value == "Week")
      {

      }
      if(value == "All-time")
      {

      }
    }


    private bool arch = false;
    private void archive()
    {
        arch = !arch;
    }
/* End of logic for profile dropdown */



   private bool showCheckboxes = false;

    private void ToggleCheckboxes()
    {
        showCheckboxes = !showCheckboxes;
    }
}


<style>

.main-content{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.format-container {
  display: flex;
  flex-dirction: row;
  align-items: center;
}

.graph-container{
  margin-top: 30px;
  margin-left: auto;
  
}

.content-image  {
   width: 250px;
   height: 250px;
   object-fit: cover;
   object-position: center;
   margin-left: 15px;
   margin-top: 15px;
}

.data-container {
  max-width: 600px;
  width: 600px;
  height: 400px;
  margin-top: 50px;
  margin-left: 220px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.archive-pop {
  position: absolute;
  z-index: 9999;
  max-width: 600px;
  width: 600px;
  height: 400px;
  margin-top: 50px;
  margin-left: 550px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.main-container {
    display:grid;
    grid-template-columns: 10% 90%;
    height: 100vh; 
}
.top-nav{
  display:grid;
  grid-template-rows: 10% 90%;
}

.left-nav {
   display:grid;
   grid-template-rows: 10% 75% 15%;
   background-color: #E2E2DF; 
}

.top-panel {
  display: flex;
  align-items: center;
  background-color: #E2E2DF;
  transition: left 0.5s;
}

.content-container {
  position:absolute;
  justify-content: center; 
  align-items: center;
  margin-top: 10px;
  display:grid;
  
  column-gap:10px;
  row-gap: 10px
}

.back-button {
    border: none;
    outline: none;
    cursor: pointer;
    color: transparent;
    height: 150px;
    width: 150px;
    background: url('https://api.iconify.design/mdi/arrow-back-circle.svg?color=%233d348b')  no-repeat center center / contain
}
/*
    Profile Dropdown CSS
 */

.profileDropdown {
  position: absolute;
  right:0;

}

.profileDropdown .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profileDropdown .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileDropdown .menu {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  
  z-index:30;
}

.profileDropdown .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.profileDropdown .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.profileDropdown .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.profileDropdown .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.profileDropdown .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
}

.profileDropdown .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.profileDropdown .menu ul li:hover img {
  opacity: 1;
}

.profileDropdown .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.profileDropdown .menu ul li:hover a {
  color: #ff5d94;
}
/*End of ProfileDropdown*/
    
.top-button {
        height: 50px;
        width: 170px;
        margin: 25px;
        color: white;
        border-radius: 5px;
        background: #3D348B;
 }

.expand-button {
        height: 30px;
        width: 150px;
        color: white;
        border-radius: 5px;
        background: #3D348B;
 }

</style>