@page "/"

<PageTitle>Index</PageTitle>

<h2>hello team.</h2>
<p>I have simplified the example and have a working boiler plate.<br>
I believe we only need to make different .razor pages (files), inside the pages folder.<br>
Each page will contain all the html, css, and c# code needed for that page.<br>
We should use navlink tags to navigate between pages, as is done on this page.
</p>
<NavLink href="counter">Counter</NavLink>
<br>
<NavLink href="LogansPage">Logan</NavLink>
<br>
<NavLink href="YiannisPage">Yianni</NavLink>
<br>

