@page "/LogansPage"

<PageTitle>LoganTest</PageTitle>

<h1>I made this page</h1>

<p>Added a navlink tag to the sidebar, with href="LogansPage". The url for this .razor component is /LogansPage<br></p>

