@page "/YiannisPage"


<div class="side-panel" style="left: -250px;">

</div>

<div class="container">
    <div class="sidebar" style="left: @(showPanel ? "0px" : "-250px");">
        
        <div class="new-folder-button-container">
            <button class = "add-folder" @onclick="addFolder">+</button>
        </div>
        <div class="folder-container">
            @foreach(var button in buttons)
            {
                <button @onclick="@button.OnClick" style="background: url('https://api.iconify.design/material-symbols/folder-outline.svg?color=%233d348b') no-repeat center center / contain">@button.Label</button>
            }
        </div>

    </div>
    <div class="main">
       
    </div>
</div>

@code {
    List<ButtonInfo> buttons = new List<ButtonInfo>();

    void addFolder()
    {
        buttons.Add(new ButtonInfo
        {
            Label = $"Button {buttons.Count + 1}"
        });
    }
    bool showPanel = true;

    class ButtonInfo
    {
        public string Label {get; set; }
        public Action OnClick {get; set; }
    }
}

<style>
    .container {
        display: flex;
        flex-direction: row;
    }
    .folder-container {
        color: #3D348B;
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        width: 250px;
        background-color: #E2E2DF;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        transition: left 0.5s;
    }
    .new-folder-button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
    }
    .main {
        flex: 1;
        padding: 20px;
    }
</style>